.manager_filter{
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 0;
}
.manager_filter_title{
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 5px 0;
}
.manager_filter_label{
    font-size: 15px;
    margin: 0 0 5px 0;
}