.price_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.price_input label {
  font-size: 14px;
  margin-bottom: 5px;
}

.price_input_container {
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 10px; 
  background-color: #fff;
}

.dollar_sign {
  color: #888;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price_input_container input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 80px;
  background-color: transparent;
  text-align: left; 
  color: #000;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.border_line{
  border-left: 1px solid #e0e0e0;
  height: 30px;
}